/* Associação pelo nome do ELEMENTO */ 

h1 { 

color: red;

}

/*associação pelo id do elemento */ 

#tit_1 { 

font-size: 40px; 

} 

/*Associação pela classe do elemento*/ 

.noticias { 

font-family: Arial, Helvetica, sans-serif;

} 

p,h1 { 

background-color: lightgray;

}

/* Não é um elemento em block*/
.teste01 { 

    background-color: blue;
}


    table { 

    width: 100%;

    }
        th{ 

        background-color: gray; 
        color: white;
        
        }

        td{ 
        background-color:azure   ;
        }

        table caption { 
        background-color: aliceblue;
        font-weight: 900;
        font-size: 30px;
            
        }

#conteudo { 

    width: 70%;
    background-color: blanchedalmond;
    float: left;
}

#menu-contexto { 
    width: 30%;
    background-color: lightblue;
    float: left;
}

#rodape { 

    clear: both; /*limpar a flutuação*/
}
